<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>AllJoyn Chat</title>

    <script src="js/winstore-jscompat.js"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="chatApp">
    <div ng-controller="HeaderController">
      <ion-header-bar class="bar-positive" no-tap-scroll="true">
        <h1 class="title">AllJoyn Chat</h1>
        <button class="button pull-right" ng-click="openChannelSelector($event)">Channels</button>
        <script id="channel-selector.html" type="text/ng-template">
          <ion-popover-view>
            <ion-header-bar>
              <h1 class="title">Select a channel</h1>
            </ion-header-bar>
            <ion-content>
              <progress ng-show="loading"></progress>
              <ion-list ng-show="!loading">
                <ion-item ng-click="channelSelected($event, channel)" ng-repeat="channel in channels">
                  {{channel.name}}
                </ion-item>
              </ion-list>
            </ion-content>
          </ion-popover-view>
        </script>
      </ion-header-bar>
      <div class="bar bar-stable bar-subheader" no-tap-scroll="true">
        <h2 class="title">{{subheader}}</h2>
      </div>
    </div>
    <ion-content class="has-header has-footer has-subheader" has-bouncing="false" ng-controller="ContentController">
      <ion-list>
        <ion-item ng-repeat="message in messages">
          {{message.text}}
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable" ng-controller="FooterController">
      <input ng-model="message" type="text" placeholder="Message" />
      <button class="button button-positive pull-right" ng-click="postMessage($event)">
        Send
      </button>
    </ion-footer-bar>
  </body>
</html>
